/*Global*/
*{    
    margin: 0;
    padding: 0
}
body{
    background-color: #FFF;
    color: #000000;
    font-family: 'Roboto', sans-serif
}
a{
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer
}
button{
    cursor: pointer
}
li{
    list-style: none;
}
/*-----Header-----*/
.header{
    width: 100%;
    height: 3em
}
.nav_ol{
    margin-top: .25em;
    height: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.ol_list, .ol_media{
    margin: 0 .6em;
}
.list_a{
    font-size: .9em;
}
.nav_button{
    color: #FFF;
    background-color: #4285F4;
    padding: 10px 10px;
    font-size: 0.9em;
    border-radius: 5px;
    border-style: none
}
/*-----Main-----*/
/*Hero*/
.hero{
    height: 14.5em;
    display: flex;
    justify-content: center;
    align-items: flex-end
}
.hero_container_image{
    padding-bottom: 1.75em;
}
/*Seacrch Bar*/
.search-bar{
    height: 2.65em;
    display: flex;
    justify-content: center
}
input{
    width: 88%;
    border-radius: 20px;
    border-width: .01em;
    border-color: #c9d3e4;
    border-style: solid
}
/*Search Buttons*/
.search-button{
    height: 4em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-end
}
section a button{
    color: #000;
    background-color: #F2F2F2;
    padding: 9px 25px;
    margin: 0 .5em;
    border-radius: 5px;
    border-style: none
}
/*Space*/
.space{
    height: 11em;
}





.footer_wrapper
{
    height: 3em;
    background-color: #F2F2F2
}
.footer
{
    height: inherit;
}
.footer_flex
{
    height: inherit;
    display: flex;
    justify-content: space-between;
    padding: 0 1em
}
.nav_left, .nav_right
{
    height: inherit;
}
.left_ol, .right_ol
{
    height: inherit;
    display: flex;
    align-items: center
}
.left_li, .right_li
{
    margin: 0 .5em;
    list-style: none
}
.left_list_a, .right_list_a
{
    color: #000;
    font-size: .85em;
    font-weight: 500;
    text-decoration: none
}